*{
    font-family: "Roboto",sans-serif;

}

.checkout-form label{
    font-size: 12px;
    font-weight: 700;

}

.checkout-form input{
    font-size: 14px;
    font-weight: 400;
    padding: 5px;


}


.order-details label{
    font-size: 12px;
    font-weight: 700;

}

.order-details div{
    font-size: 14px;
    padding: 5px  !important;

}

.search-bar{

        width: 55%;
        padding: auto;
        margin-left: 10px;

}

.navbar-brand{
    margin-left: 4px;
}

.ui-menu{
    z-index: 4000 !important;
    
}

.sbtn{
    border: 0px;
    background-color: wheat;
    
}