*{
    font-family: "Roboto",sans-serif;
   
}

.checkout-form label{
    font-size: 12px;
    font-weight: 700;

}

.checkout-form input{
    font-size: 14px;
    font-weight: 400;
    padding: 5px;


}


.order-details label{
    font-size: 12px;
    font-weight: 700;

}

.order-details div{
    font-size: 14px;
    padding: 5px  !important;

}

.search-bar{

        width: 50%;
        padding: auto;
        margin-left: 10px;

}

.navbar-brand{
    margin-left: 4px;
}

.ui-menu{
    z-index: 4000 !important;
    
}

.sbtn{
    border: 0px;
    background-color: wheat;
    
}

.whats-app-chat{
    bottom: 10px;
    right: 10px;
    position: fixed;
}

.img_here_bg{
   padding: 10px;
    height: fit-content;
    width: fit-content;
    
}

.cate{
    /* border: 2px solid aqua; */
    
    padding: 10px;
}

.popular_prod{
    /* border: 2px solid aqua; */
    
    padding: 10px;
}

.service_container{
    height:auto;
    width:auto;
    margin-top: 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


#s1{
    background-color: whitesmoke;
   /* height: 200px;
   width: 200px;
    */
    margin: 10px ; 
    
 
}
#s2{
    background-color: whitesmoke;
   /* height: 200px;
   width: 200px; */
   margin: 10px ;
}
#s3{
    background-color:whitesmoke;
   /* height: 200px;
   width: 200px;
    */
    margin: 10px ;
}
#s4{
    background-color:whitesmoke;
   /* height: 200px;
   width: 200px; */
   margin: 10px ;
}

.align{
    border: 2px solid black;
    padding: 10px;
    margin-left: 10px;
    height: 250px;
    padding: auto;
    width: 350px;
    margin:10px 20px 20px 10px;
   
    
}

/* .map-container{
    height: 250px;
    width: 500px;
    border: 1px solid salmon;
} */

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    padding: 10px;
  }


/* footer css */

 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

 @media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
} 

.logo{
    border-radius: 90%;

}
